.md-unstyled-image img{
    max-width: 100%;
    width: auto;
    height: auto !important; /* needs to be important because md-card also sets it that way */
  }
  
  .title{
      font-weight: bold;
  }
  
  a {
    position: absolute;
    top: 0; left: 0;
    height: 100%; width: 100%;
  }
  
  .searchForm{
    text-align: center;
    width: 600px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid;
    color: #FF4432;
    border-color: black;
  }
  
  .card-header{
    margin-bottom: 5px;
    height: 100px;
  }
  
  .authorName{
    font-size: 12px;
  }
  
  .img-article{
      height: 293px;
  }
  
  .mat-card{
    /* margin-left: 25px; */
    display: inline-block;
    height:500px;
    width: 28%;
    margin: 22px;
    vertical-align: top;
    cursor: pointer;
    /* margin-bottom: 10px; */
  }
  