<div class="">
   <mat-grid-list cols="4">
      <mat-card *ngFor="let article of articles">
          <a href="{{article.url}}" target="_blank"></a>
          <div>
            <img mat-card-image class="img-article" src={{article.imageSource}}>
          </div>
          <mat-card-content>
            <mat-card-header class="card-header">
              <mat-card-title class="title">{{article.title}}</mat-card-title>
            </mat-card-header>
            <p>
              {{article.abstract}}
            </p>
            <mat-card-subtitle class="authorName">{{article.byline | titlecase }} - {{article.published_date | date:'MMMM d, y'}}</mat-card-subtitle>
          </mat-card-content>
        </mat-card>
 </mat-grid-list>
 
</div>
