<!--The content below is only a placeholder and can be replaced.-->
<section class="nyt-app-container">
    <header class="app-header">
        <app-header></app-header>
    </header>
    <div class="link-button" style="display:block">
        <h2 style="text-align: center; cursor: pointer;">
          <button mat-stroked-button color="primary" routerLink="/most-popular-articles" routerLinkActive="active-link">Most Popular</button>
          <button mat-stroked-button color="primary" routerLink="/top-stories" routerLinkActive="active-link">Top Stories</button>
          <button mat-stroked-button color="primary" routerLink="/search" routerLinkActive="active-link">Search</button>
        </h2>
      </div>
    <section class="nyt-app-landing container-fluid">
        <router-outlet></router-outlet>
    </section>
</section>
<!-- <app-header></app-header>
<div class="link-button" style="display:block">
  <h2 style="text-align: center; cursor: pointer;">
    <button mat-stroked-button color="primary" routerLink="/most-popular-articles" routerLinkActive="active-link">Most Popular</button>
    <button mat-stroked-button color="primary" routerLink="/top-stories" routerLinkActive="active-link">Top Stories</button>
    <button mat-stroked-button color="primary" routerLink="/search" routerLinkActive="active-link">Search</button>
  </h2>
</div>

<router-outlet class="page-section" ></router-outlet> -->

